@model ResultViewModel

<div><h2>CurrentWeather</h2></div>
<div>
    <div class="mb-3">
        <label for="Country" class="form-label">Country</label>
        <input type="text" value="@Model.Country" class="form-control" name="Country">
    </div>
    <div class="mb-3">
        <label for="City" class="form-label">City</label>
        <input type="text" value="@Model.City" class="form-control" name="City">
    </div>
    <div class="mb-3">
        <label for="Lat" class="form-label">Latitude</label>
        <input type="text" value="@Model.Lat" class="form-control" name="Lat">
    </div>
    <div class="mb-3">
        <label for="Lon" class="form-label">Longitude</label>
        <input type="text" value="@Model.Lon" class="form-control" name="Lon">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="text" value="@Model.Description" class="form-control" name="Description">
    </div>
    <div class="mb-3">
        <label for="Humidity" class="form-label">Humidity</label>
        <input type="text" value="@Model.Humidity" class="form-control" name="Humidity">
    </div>
    <div class="mb-3">
        <label for="Temp" class="form-label">Temperature</label>
        <input type="text" value="@Model.Temp" class="form-control" name="Temp">
    </div>
    <div class="mb-3">
        <label for="TempMax" class="form-label">Max Temperature</label>
        <input type="text" value="@Model.TempMax" class="form-control" name="TempMax">
    </div>
    <div class="mb-3">
        <label for="TempMin" class="form-label">Min Temperature</label>
        <input type="text" value="@Model.TempMin" class="form-control" name="TempMin">
    </div>
    <div class="mb-3">
        <label for="WeatherIcon" class="form-label">WeatherIcon</label>
        <input type="text" value="@Model.WeatherIcon" class="form-control" name="WeatherIcon">
    </div>
    <div class="mb-3">
        <label for="TempFeelsLike" class="form-label">TempFeelsLike</label>
        <input type="text" value="@Model.TempFeelsLike" class="form-control" name="TempFeelsLike">
    </div>
</div>